@model Product

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GC Cafe!</h1>
</div>

<h3>Click here to see the <a href="ProductView">Menu.</a></h3>

