@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GC Cafe!</h1>
</div>

<h3>Here is our Menu:</a></h3>

@{
    foreach (Product p in Model)
    {
        <div>
            <p><a asp-action="ProductDetails" asp-route-id="@p.Id">@p.Name</a> $@p.Price</p>
        </div>
    }
}

