@model List<Product>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    foreach (Product p in Model)
    {
        <p><a asp-action="ProductDetails" asp-route-id="@p.Id">@p.Name</a> $@p.Price</p>
    }
}